.wd-above-margin {
  margin-top: 16px;
}

.wd-post-image {
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-right: 8px;
}

.wd-smaller-margins {
  margin-top: 1px;
  margin-bottom: 1px;
}

.wd-icons {
  margin-right: 8px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.wd-button-top {
  margin-top: 8px;
}

.wd-search {
  padding-left: 35px;
}

.wd-form-floating {
  position: relative;
}

.wd-display {
  color: white;
  position: relative;
  top: -50px;
  left: 4px;
}

.wd-search-icon {
  position: absolute;
  left: 0.75rem;
  top: calc(30%);
}

.wd-check-icon {
  position: absolute;
  top:calc(20%);
  left: 12.25rem;
}

.wd-image {
  object-fit: cover;
  width: 100px;
  height: 100px;
  margin-left: 8px;
}

.wd-content-list {
  position: relative;
  top: -47px;
}

.wd-back-button {
  margin-bottom: 12px;
}


.wd-setting-icon {
  margin-left: 16px;
  color: #2a9fd6;
}

.wd-smaller-text {
  font-size: 14px;
}

.wd-flush-with-picture {
  position: relative;
  top: -48px;
}