body {
    background-color: black;
}

.wd-divider {
    height: 2px;
    color: rgb(47, 51, 54);
    border-radius: 5px;
    border-color: rgb(47, 51, 54);
    margin-left: 16px;
    margin-right: 16px;
}

.wd-back {
    margin-left: 16px;
    color: white;
    size: 15px;
    font-family: Verdana;
}

.wd-back-space {
    margin-bottom: 12px;
}

.wd-float-left {
    float: left;
}

.wd-float-right {
    float: right;
    height: 100px;
}

.wd-float-done {
    clear: both;
}

.wd-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.wd-container-start {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}